.investmentor{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 15px;
    height: 560px;
    background: rgb(244, 253, 244); 
}
.card-img{
    width: 290px;
    height: 300px;
}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: white;
}
.people-details h5{
    font-size: 1.5rem;
    margin-top: 10px;
}
.people-details p{
    font-size: 1.1rem;
    margin-top: 5px;
}
.add-invest{
    background-color: green;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
}