.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0 15px;
}
.people-section{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}
.fund-section{
    margin-top: 20px;
    margin-left: 15px;
}
.fund-section p{
    margin: 10px 0;
    font-weight: 500;
}